<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data!</a></p>
    </div>
  </div>
    <div class="container">
        <div class="col-12">
            <h2>Latest Mars News</h2>
            <h3>{{ mars_db.title }}</h3>
            <h4>{{ mars_db.paragraph }}</h3>
        </div>

    <div class="row-spacer">
        <div class="col-12 row-spacer"></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2 class="title">Featured Mars Image</h2>
            <a href="{{ mars_db.featured_image_url}}" target="_blank">
                <img id="feautured_image" src="{{ mars_db.featured_image_url}}" alt="Featured Mars Image" width=95%>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <h4 class="side-title" style='color: black'>Current Weather on Mars</h4>
                <p style='color: black'>{{ mars_db.mars_weather }}</p>
            </a>
            <a>
                <h4 class="side-title" style='color: black'>Facts about Mars</h4>
                <!-- insert table -->
                <div class="table" style='color: black'> {{ mars_db.mars_html | safe}}</div>
            </a>
            
        </div>
    </div>
    </div>
    
    <div class='container text-center'>
        <div class="row-spacer">
                <div class="col-12 row-spacer"></div>
        </div>
            <div class='row'>
                <h2 class="title">Mars Hemispheres</h2>
                <!-- insert four photos -->

                    {% for x in mars_db.hemisphere_image_urls %}
                    <a class= "hemispheres" href="{{ x.img_url }}" target="_blank">
                        <img id="hemisphere_image" src="{{ x.img_url}}"  width=400px alt="Hemisphere Mars Image">
                        <figcaption class="sub-title">{{ x.title }}</figcaption>
                    </a>
                    {% endfor %}
            </div>
        </div>
        
    </div>
    
  
</body>

</html>